:root {
	--primary-white: #fff;
	--primary-blue: #2a3958;
	--secondary-blue: #6f80a0;
}

* {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}
.calendar {
	padding: 20px;
	border: 2px solid gray;
	cursor: pointer;
} */
.dateRange {
	position: absolute;
	top: 120px;
}
