:root {
	--primary-white: #fff;
	--primary-blue: #2a3958;
	--secondary-blue: #6f80a0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@layer components {
	.active {
		@apply bg-[#2a3958] text-white;
	}
	.notActive {
		@apply bg-white text-[#2a3958];
	}
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-blue);
}

.checkbox-wrapper-42 input[type='checkbox'] {
	display: none;
	visibility: hidden;
}

.checkbox-wrapper-42 label {
	display: inline-block;
}

.checkbox-wrapper-42 .cbx {
	position: relative;
	top: 1px;
	width: 17px;
	height: 17px;
	border: 1px solid var(--secondary-blue);
	border-radius: 6px;
	vertical-align: middle;
	transition: background 0.1s ease;
	cursor: pointer;
}
.checkbox-wrapper-42 .cbx:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
}
.checkbox-wrapper-42 .lbl {
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
}
.checkbox-wrapper-42 input[type='checkbox']:checked ~ .cbx {
	border-color: transparent;
	background: #2a3958;
	animation: jelly-42 0.6s ease;
}
.checkbox-wrapper-42 input[type='checkbox']:checked ~ .cbx:after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}
.checkbox-wrapper-42 .cntr {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
}
@-moz-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}
@-webkit-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}
@-o-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}
@keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}

/* .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}
.calendar {
	padding: 20px;
	border: 2px solid gray;
	cursor: pointer;
} */
/* .dateRange {
	position: absolute;
	top: 120px;
} */
